{
  "version": "2017-02-28",
  "operation": "UpdateItem",
  "key": {
    "postId": $util.dynamodb.toDynamoDBJson($ctx.args.input.postId)
  },
  "update": {
    "expression": "SET content = :content, updatedAt = :updatedAt",
    "expressionValues": {
      ":content": $util.dynamodb.toDynamoDBJson($ctx.args.input.content),
      ":updatedAt": $util.dynamodb.toDynamoDBJson($util.time.nowISO8601())
    }
  }
}
