{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "postId": $util.dynamodb.toDynamoDBJson($$ctx.args.input.postId)
  },
  "attributeValues": {
    "content": $util.dynamodb.toDynamoDBJson($$ctx.args.input.content),
    "userId": $util.dynamodb.toDynamoDBJson($$ctx.args.input.userId),
    "updatedAt": $util.dynamodb.toDynamoDBJson($util.time.nowISO8601())
  }
}