{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "postId": $util.dynamodb.toDynamoDBJson($util.defaultIfNullOrBlank($ctx.args.input.postId, $util.autoId()))
  },
  "attributeValues": {
    "username": $util.dynamodb.toDynamoDBJson($context.identity.username),
    "content": $util.dynamodb.toDynamoDBJson($ctx.args.input.content),
    "updatedAt": $util.dynamodb.toDynamoDBJson($util.time.nowISO8601()),
    "createdAt": $util.dynamodb.toDynamoDBJson($util.time.nowISO8601())
  },
  "condition": {
    "expression": "attribute_not_exists(postId)"
  }
}