{
  "version": "2017-02-28",
  "operation": "Query",
  "query" : {
    "expression" : "username = :username",
    "expressionValues" : {
      ":username": $util.dynamodb.toDynamoDBJson($context.identity.username)
    }
  },
  "index" : "username-index",
}